{%extends 'cows/cowbase.html'%}
{%load crispy_forms_tags%}
{%block content%}

<div class="cowbody">
	<div class="row">

	<!-- TOP CARD -->
		<div class="col-lg-3 left-cow-card">
			<div class="card left-card"style="width: 18rem; margin-left: 1rem;">
				<div class="card-header top-card-header">
					<a class="topcardlink" href="">Fertility activities</a>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
					    <li class="list-group-item">Current Milk Price</li>
					    <li class="list-group-item">Total Milk Customers</li>
					    <li class="list-group-item">Total Milk Production</li>
					    <li class="list-group-item">Total Income</li>
					    <li class="list-group-item">Total Expenditure</li>
						<li class="list-group-item">Total Profits</li>			    
				  	</ul>
				</div>
				  
			    <div class="card-footer">
			    	Card footer
			    </div>
			</div>
		</div>

	<!-- MIDDLE CARD -->

		<div class="col-lg-6 middleCard">
			<div class="row">
				{%for cow in cows%}
				<div class="col-lg-6">
					<div class="card card-middle">
						<div class="card-body img-body">
							<div class="cardimg">
								<img src="{{cow.image.url}}" class="card-img" alt="...">
							</div>
						</div>
						<div class="card-footer cardfooter-middle">
							<h5 class="card-title">{{cow.name}}</h5>
							<a href="{%url 'cowdetail' cow.id %}" class="btn btn-primary middleLink">Details</a>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>

	<!-- BOTTOM CARD -->

			<div class="col-lg-3 right-cow-card">
				<div class="card left-card" style="width: 18rem;">
					<div class="card-header">
						<h3>Recent Activities</h3>
					</div>
					<div class="card-body">
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item">An item</li>
					    <li class="list-group-item">A second item</li>
					    <li class="list-group-item">A third item</li>
					  </ul>
					</div>
				  	<div class="card-footer">
				    	Card footer
				  	</div>
				</div>
			</div>
			<!-- End of Bottom card -->
	</div>
</div>




{%endblock content%}

