body{
	font-family: font-family: 'Anton', sans-serif;
	margin: 1rem 2rem 0 2rem;

}


/*------------------------------------             NAVBAR CSS        ------------------------------------------*/

.navbar{
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1rem;
}

.navbar-brand{
	font-size: 1.3rem;
	font-family: 'Mochiy Pop One', sans-serif;
	color: #D61C4E;
	padding-left: 5rem;
}

.bottomnav{
	margin: auto;
}

.topnav{
	position:absolute;
	right:3px;
	top:1px;
	height: 4rem;
}

.dropdown-toggle{
	border-radius: 20%;
}


.nav-link{
  	font-size: 1rem;
  	color: black;
  	margin: 0 2px 0px 2px;
}

.homedrop{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.19);
}

/*--------------------------------------------    BOTTOM NAVBAR        ---------------------------------------------*/

.naviconbar{
	text-align: center;
}


/*-----------------------------------              HOME PAGE            ----------------------------------------*/

.carousel{
	margin-top: 20px;
}

#frontDisplay{
	border-radius: 5px;
}

.home-right-list-group{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 18rem;
}

.table-info{
	font-size: 1rem;
}


/*------------------------------------             CARD STYLES          -----------------------------------------*/
.card{
	font-size: 16px;
	font-weight: 600;
	background-color:#EFFFFD ;
}
.datetag{
	width: 50%;
}


/*----------------------------------              STOCKS LIST CSS           --------------------------------------*/

.card-list{
	width: 23.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-title{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
.card-header{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}


/*---------------------------------                 STOCKS DETAIL CSS              -----------------------------------*/
.stock-detail{
	background-color:#EFFFFD ;
	width: 50%;
	text-align: center;
	margin: 10px auto auto auto;
	padding-top: 4px;
}

.stockdetailimg{
	width: 400px;
	height: 400px;
	border: 1px solid;
	margin: auto;
}


/*-----------------------------------               STOCK FORM               -----------------------------------------*/

.stock-content{
	margin-top: 2rem;
	background-color:#EFFFFD ;
	width: 30rem;
	padding: 20px;
	font-weight: 900;
	border-radius: .5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.form-group{
	padding-top: .6rem;
	margin-top: .2rem;
}


legend{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
}

/*------------------------------------------      HOME PAGE        ----------------------------------------------------*/

.milkinfo{
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.right-home-col{
	width: 20rem;
	margin-left: 2.5rem;
}

/*--------------------------------------------       HOME BOTTOM TABLE     --------------------------------------*/

.home-bottom-table{
	border: 1px solid;
}


/*--------------------------------------------              Footer          ------------------------------------------*/


.footer{
	text-align: center;
	margin: 1rem;

}


/*----------------------------------------------          HOVER STYLES        -------------------------------------*/

.dropdown-toggle:hover{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}


.nav-link:hover{
	font-weight: bold;
	box-shadow: 0 2px 4px 0 rgba(255,255,255,1), 0 2px 8px 0 rgba(30,53,255,1);
	color: blue;
}

.list-group-item-action:hover{
	box-shadow: 0 2px 4px 0 rgba(255,255,255,1), 0 2px 8px 0 rgba(30,53,255,1);
	color: blue;
}