
/*------------------------------------------         GOAT LIST CARD STYLES            --------------------------------*/
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.goat-card{
	width: 22rem;
	height: 22rem;
	text-align: center;
}


/*------------------------------------------            GOAT DETAIL STYLES              ---------------------------------*/

.goat-card-detail{
	width: 28rem;
	height: 28rem;
	text-align: center;
}

.card-body{
	padding: 0;
}

.detailimg{
	max-width: 100%;
	max-height: 100%;

}


/*-------------------------------------                 GOAT REGISTRATION FORM            -----------------------------*/


.content-section{
	width: 40rem;
	margin-top: 1rem;
	font-weight: bold;
	font-family: 'Mulish', sans-serif;
	line-height: 1.5;
}
.formHead{
	text-align: center;
	font-weight: bolder;
}

.form-group{
	padding: .5rem .3rem .5rem .3rem;
}