
/*-----------------------------------------------------------------------------------------------------------------*/
												/*COW CARD MIDDLE COL_6*/
												/*   HOME PAGE    */




/*------------------------------------------------------------------------------------------------------------------*/
											/*COW CARD COL - 3 RIGHT */

											/*  HOME  PAGE   */

.right-cow-card{
	padding-left: 4.9rem;
	margin: 1.2rem 0rem .2rem 0rem ;
}



/*------------------------------------------------------------------------------------------------------------------*/
												/*COW CARD COL-3 LEFT*/ 

												/*    HOME PAGE     */
.left-cow-card{
	margin: 20px 0px 2px 0px;
	border-width: 0;
}

.top-card-header{
	display: inline-block;
	font-weight: 600;
}

.topcardlink{
	text-decoration: none;
	margin-left: 20px;
}

.list-group-item{
	font-weight: 600;
	padding: 10px;
}

/*------------------------------------------    BOTTOM CARD   HOME PAGE        ----------------------------------*/

.bottom-card-home{
	margin: auto;
	width: 75rem;
}

.listrow{
	margin: 2rem 0 2rem 0;
}

.cowbottom{
	padding: .2rem;
}

.cow-list-img{
	width: 100%;
	padding: 0px;
}
.cowImg{
	width: 90%;
	height: 300px;
	border-radius: 10px;
}

.cardlinks{
	text-decoration: none;
	color: black;
}

/*-------------------------------------------------------------------------------------------------------------------*/
											/*MEDICINE INPUT FORM SECTION*/


.content-section{
	width: 30rem;
	margin-top: 10px;
	border-radius: 5px;
	font-weight: bold;
}

.form-group{
	padding: 10px 5px 10px 5px;
}

/*------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------Cow DETAIL Styling -------------------------------------------------*/

.detailImg{
	height: 80%;
	width: 80%;
	margin: auto;
}

.detailimage-head{
	margin: auto;
}
.detailImg{
	margin-left: 3.5rem;
}

.rightSection{
	margin-top: 30px;
}









